@model IEnumerable<BursUI.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutListele.cshtml";
}
<table class="table table-striped table-dark" style="margin-top:0px;border-spacing: 0px;border-color: #32383e; border-top:none;margin-bottom:0rem">
    <thead>
        <tr>
            <th style="border-bottom: 0px solid #dee2e6"></th>
            <th style="border-bottom: 0px solid #dee2e6"></th>
            <th style="background-color: #212529; border-color: #32383e; color: #fff;margin-bottom:0px;border-spacing: 0px;border-color: #32383e; align-content:center;border-bottom: 0px solid #dee2e6" ">
                Burs Veren Kişiler
            </th>
        </tr>
        <tr>
            <th style="border-top: 0px solid #dee2e6;border-bottom: 0px solid #dee2e6" scope="col">Ad</th>
            <th style="border-top: 0px solid #dee2e6;border-bottom: 0px solid #dee2e6" scope="col">Soyad</th>
            <th style="border-top: 0px solid #dee2e6;border-bottom: 0px solid #dee2e6" scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soyad)
                </td>
                <td>
                    @if (this.User.IsInRole("BursAlan"))
                    {
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=@("#basvur"+item.Id)>
                            Başvur
                        </button>
                    }
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mesaj">
                        İletişime Geç
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="mesaj" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Suşi Su Sipariş</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="fullname">Adınız Soyadınız</label>
                            <input type="text" id="fullname" class="form-control" placeholder="Adınız Soyadınız">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="font-weight-bold" for="email">Email</label>
                            <input type="email" id="email" class="form-control" placeholder="Email Adresiniz">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="phone">Telefon</label>
                            <input type="text" id="phone" class="form-control" placeholder="Telefon Numaranız">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="font-weight-bold" for="message">Mesajınız</label>
                            <textarea name="message" id="message" cols="30" rows="5" class="form-control" placeholder="İletilmesi istediğiniz mesajı yazınız"></textarea>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Mesajı yolla" class="btn btn-primary pill px-4 py-2">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
@foreach (var item in Model)
{
    <div class="modal fade" id=@("basvur" + @item.Id) tabindex="-1" role="dialog" aria-labelledby="">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Öğrenciler</h4>
                </div>
                <form method="post" action="">
                    <div class="modal-body">

                        @{
                            Html.RenderAction("BasvuruCreate", "Home", new { id = item.Id });
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}