
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}
<input type="hidden" value="@ViewBag.Id" id="KullanıcıId" />
<div>
    <p>Adı :<strong id="Adi"></strong></p>
    <p>Soyadı :<strong id="Soyadi"></strong></p>
    <p>Telefon :<strong id="TelNo"></strong></p>
    <p>Email :<strong id="Email"></strong></p>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var id = $("#KullanıcıId").val();
        $.ajax({
            url: "Getir/" + id,
            type: "POST",
            contentType: "application/json; charset:utf-8",
            dataType: "json",
            success: function (data) {
                $("#Adi").html(data.Ad)
                $("#Soyadi").html(data.Soyad)
                $("#TelNo").html(data.PhoneNumber)
                $("#Email").html(data.Email)
            }
        });
    });
</script>
